# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
!spade/lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
venv/
ENV/
env/
.venv

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Flutter/Dart
.dart_tool/
.flutter-plugins-dependencies
.metadata
build/
.packages
spade/assets/python_dist.zip

# Project specific
__pypackages__/
.pyc
*.log

# Data
data/

#output
output/

# build_temp
build_temp/